@import "./../../_variables.scss";

.card {
    padding: 20px;
    color: $white;
    height: 20vh;
    width: 20vw;
    border-radius: 50px;
    text-align: center;
    transition: all 0.5s ease;
    .icon {
        font-size: 50px;
    }
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 23px;
    }
}

.card:hover {
    padding: 50px;
}