@import "./../../variables";
    #nav {
        display: flex;
        margin-top: 0.5em;
        justify-content: flex-end;
        color: $white;
        width: 80vw;
        margin: auto;
        position: absolute;
        top: 1em;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;
        h1 {
            display: inline;
            flex-direction: column;
            font-weight: bold;
            font-size: 2rem;
            float: left;
            margin-right: auto;
            cursor: pointer;
        }

        ul {
            float: right;
            display: inline;
            list-style-type: none;
            margin-top: 4em;
            font-size: 0.8rem;
            li{
                cursor: pointer;
                float: left;
                margin: auto 1em;
                button {
                    border: none;
                    border-radius: 1rem;
                    width: 7rem;
                    height: 2rem;
                    margin-top: -1em;
                    color: $white;
                    font-weight: bold;
                    
                    
                }
                #login {
                    background-color: $purple;
                }
                #signup {
                    background-color: $red;
                }
            }   
            #userName:hover {
                position: relative;
                background-color: rgba($blue,0.7);
                transition: background-color 0.5s ease;
                #dropDownMenu {
                    position: absolute;
                    display: block;
                    width: 100%;
                    background-color: rgba($blue,0.7);
                    text-align: center;
                    transition: display 0.5s ease;
                    ul, li {
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        width: 100%;
                    }
                    ul {
                        margin-top: 1em;
                    }
                    li{
                        padding: 1em 0;
                        transition: background-color 0.2s ease;
                    }
                    li:hover {
                        background-color: rgba($red,0.9);
                    }
                }
            
            }
        }
    }
