@import "./../../variables";
    #nav {
        display: flex;
        margin-top: 0.5em;
        justify-content: flex-end;
        color: $white;
        width: 80vw;
        margin: auto;
        position: absolute;
        top: 1em;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;
        h1 {
            display: inline;
            flex-direction: column;
            font-weight: bold;
            font-size: 2rem;
            float: left;
            margin-right: auto;
            cursor: pointer;
        }

        ul {
            float: right;
            display: inline;
            list-style-type: none;
            margin-top: 3.2em;
            font-size: 0.9rem;
            li{
                cursor: pointer;
                float: left;
                margin: auto 1em;
                button {
                    border: none;
                    border-radius: 1rem;
                    width: 7rem;
                    height: 2rem;
                    margin-top: -1em;
                    color: $white;
                    font-weight: bold;
                    
                    
                }
            }   
        }
    }
