@import "./../../_variables.scss";

.IndexPage {
    height: 100vh;
    max-width: 80vw;
    margin: auto;
    color: $white;
    background: none;

    #start {
        position: relative;
        height: 100vh;
        text-align: center;
        place-items: center;
        margin-top: 13em;
        @media screen and (max-width:$screen-mobile){ 
            margin-top: 20vh;
         }
        h1 {
           letter-spacing: 1rem; 
           font-weight: bold;
           font-size: 6rem;
           margin: 0;
           @media screen and (max-width:$screen-mobile){ 
               font-size: 3rem; 
               letter-spacing: 0.2rem;
            }
        }
        #hook {
            span {
                font-size: 1.7rem;
            }
            #screenShare {
                color: $pink;
            }
            #transferFiles {
                color: $blue;
            }
        }
    }

    #downArrows {
        position: absolute;
        font-size: 8rem;
        display: block;
        margin: 0 auto;
        color: $pink;
        top: 50vh;
        left: 50%;
        transform: translateX(-50%);
        animation: downArrows 0.5s ease-in-out infinite alternate-reverse;

    }

    #peerConnection .colored {
            color: $yellow;
    }


    #screenShare .colored {
        color: $pink;
    }

    #dataTransfer .colored {
        color: $blue;
    }
}



@keyframes downArrows {
    from {
        top: 50vh;
    }
    to {
        top: 51vh;
    }
}
