@import "./../../variables";


#LoginPage {
    display: grid;
    place-items: center;
    #con {
        width: 80vw;
        height: 60vh;
        margin-top: 5vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        #intro {
            grid-column: 1;
            background-color: $purple;
        }
        #login {
            grid-column: 2;
            background-color: $white;
        }
        }
}