@import "./../../variables";


#LoginPage {
    display: grid;
    place-items: center;
    #con {
        width: 80vw;
        height: 60vh;
        margin-top: 20vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        .internalCon {
            background-color: $blue;
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
        }
        #intro {
            background-color: $purple;
            color: $white;
            li {
                margin: 4vh auto;
                font-size: 1.2rem;
            }
        }
        #login {
            background-color: $white;
        }
        }
}