@import "./../../variables";

#callPage_pre {
    display: grid;
    place-items: center;
    height: 100vh;
    color: $white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    button {
        width: 40vw;
        height: 20vh;
        border: none;
        border-radius: 2em;
        background-color: $pink;
        color: $white;
        font-weight: bold;
        font-size: 1.2rem;
        transition: all 0.5s ease;
        margin: 0 auto;
        display: block;
    }

    button:hover {
        width: 42vw;
        height: 25vh;
        background-color: darken($pink, $amount: 25);
    }
}

#callPage_post {
    .stream {
        position: absolute;   
        height: 60vh;   
        top: 12vh;
        left: 50%;
        transform: translateX(-50%);
    }
    .info {
        color:$white;
        position: absolute;
        top: 73vh;
        text-align: center;
        display: block;
        width: 100vw;
        font-size: 1.3rem;

        a {
            transition: all 0.5s ease-in-out;
            
            &:hover {
                background-color: $blue;
                font-size: 2rem;
                padding: 1em;
            }
        }


    }
    .copyButton {
        border: none;
        margin: 1em;
        background-color: $purple;
        width: 10ch;
        height: 5ch;
        color: $white;
        font-size: 1rem;
        border-radius: 2em;
        transition: all 0.5s ease-in-out;
        &:hover {
            background-color: $red;
        }
    }
}