$black: #1D1D1D;
$purple: #5935EE;
$red: #E12B2B;
$pink: #F35252;
$lightPurple: #927DE9;
$blue: #4AA4F2;
$yellow: #EECF35;
$white: #FFFFFF;
$green: #21ac05;

$screen-mobile: 768px;
$screen-tablet: 1024px;
$screen-desktop: 1200px;
$screen-TV: 1600px;